/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1280px) and (min-width: 1110px) {
    nav a {
        padding: 15px 30px;
        font-size: 1.1em;
    }
    nav {
        z-index: 100;
        width: 100%;
    }
    .logo a img {
        width: 90%;
    }
    .callback_block p {
        font-size: 16px
    }
    .callback_block button {
        padding: 8px 40px;
        font-size: 16px;
    }
    /*SECTION_SERVICES-----------------------------*/
    .services_nav {
        width: 34%;
        min-width: 385px;
    }
    .services_about {
        width: 64%;
    }
    .services_nav_cont>a {
        margin-bottom: 12px;
        font-size: 22px;
    }
    /*SECTION_HY_WE-----------------------------*/

}

/* Medium Devices, Desktops */

@media only screen and (max-width: 1110px) and (min-width: 980px) {
    nav a {
        padding: 18px 22px;
        font-size: 16px;
    }
    .logo a img {
        width: 80%;
    }
    .callback_block {
        margin-top: 20px;
    }
    .callback_block p {
        padding-top: 10px;
        padding-right: 30%;
        font-size: 15px;
    }
    .callback_block button {
        padding: 5px 20px;
        font-size: 15px;
    }
    /*SECTION_SERVICES-----------------------------*/
    .services_nav {
        width: 41%;
    }
    .services_about {
        width: 58%;
    }
    .services_nav_cont>a {
        font-size: 19px;
    }
}
@media only screen and (max-width: 980px) and (min-width: 768px) {
    nav a {
        padding: 20px 12px;
        font-size: 16px;
    }
    .logo a img {
        width: 75%;
    }
    /*SECTION_SERVICES-----------------------------*/
    .services_nav {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .services_nav_cont {
        padding: 15px 25px;
    }
    .services_nav_cont>a {
        min-width: 343px;
        margin: 5px;
        font-size: 20px;
        flex: 1 1 300px;
    }
    .services_about {
        width: 100%;
    }
    .services_nav_cont ul {
        position: absolute;
        z-index: 10;
        display: none;
        width: 80%;
        padding-right: 15px;
        background-color: #130902;
    }
    .services .container {
        display: flex;
        flex-direction: column;
    }
    .services_about_cont p, .services_about_cont ul, .services_about_cont a {
        margin-top: 20px;
        line-height: 27px;
    }
    .services_about_cont {
        margin-top: 10px;
    }
    /*SECTION_HY_WE-----------------------------*/

}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    /*Disable Animation on Mobile Devices*/
    .top_body .container {
        justify-content: space-between;
    }
    .logo a img {
        width: 90%;
    }
    nav {
        position: absolute;
        right: 0;
        display: none;
        width: 250px;
        background: #130902;
    }
    #touch_menu {
        z-index: 100;
        display: inline-block;
    }
    .mob_menu {
        position: fixed;
        right: 10px;
    }
    nav a {
        display: block;
        margin-top: 2px;
        text-align: center;
        color: #ececef;
    }
    nav a:hover, nav a:focus {
        color: #130902;
    }
    nav a span {
        top: 0;
        right: -35px;
        width: 0;
        height: 100%;
        background-color: #ececef;
    }
    nav a:hover span, nav a:focus span {
        right: 0;
        width: 100%;
        opacity: 1;
    }
    .head_locations {
        display: none;
    }
    .callback_block {
        display: none;
    }
    /*SECTION_SERVICES-----------------------------*/
    .services_nav {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .services_nav_cont {
        width: 100%;
        padding: 15px 25px;
    }
    .services_nav_cont>a {
        min-width: 100px;
        margin: 5px;
        font-size: 22px;
    }
    .services_about {
        width: 100%;
    }
    .services_nav_cont ul {
        position: absolute;
        z-index: 10;
        display: none;
        width: 80%;
        padding-right: 15px;
        background-color: #130902;
    }
    .services_nav_cont ul li a {
        padding: 20px 0 20px 12px;
    }
    .services .container {
        display: flex;
        flex-direction: column;
    }
    .services_about_cont p, .services_about_cont ul, .services_about_cont a {
        margin-top: 25px;
        line-height: 35px;
    }
    .services_about_cont {
        margin-top: 10px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 640px) {
    .top_ln_center {
        display: none;
    }
    /*SECTION_SERVICES-----------------------------*/
}
@media only screen and (max-width: 480px) {}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 640px) {}
@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
