/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1280px) and (min-width: 1110px) {
    nav a {
        padding: 15px 30px;
        font-size: 1.1em;
    }
    nav {
        z-index: 100;
        width: 100%;
    }
    .logo a img {
        width: 90%;
    }
    .callback_block p {
        font-size: 16px
    }
    .callback_block button {
        padding: 8px 40px;
        font-size: 16px;
    }
    /*SECTION_SERVICES-----------------------------*/
    .services_nav {
        width: 34%;
        min-width: 385px;
    }
    .services_about {
        width: 64%;
    }
    .services_nav_cont>a {
        margin-bottom: 12px;
        font-size: 22px;
    }
    /*SECTION_WHY_WE-----------------------------*/
    /*BLOCK_CoMMENT--------------------------*/
    .comment_bl1 img, .comment_bl2 img, .comment_bl3 img {
        width: 220px;
    }
    .comment_1::before, .comment_2::after, .comment_3::before, {
        width: 120px;
    }
     /*BLOSK_NEWS------------------------------*/

     .body_bl_news .news {
         flex-basis: 350px;
         margin-top: 20px;
     }
     .news a div {
         width: 350px;
         height: 208px;
     }
     .news span{
       margin-left: 19%;
     }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 1110px) and (min-width: 980px) {
    nav a {
        padding: 18px 22px;
        font-size: 16px;
    }
    .logo a img {
        width: 80%;
    }
    .callback_block {
        margin-top: 20px;
    }
    .callback_block p {
        padding-top: 10px;
        padding-right: 30%;
        font-size: 15px;
    }
    .callback_block button {
        padding: 5px 20px;
        font-size: 15px;
    }
    /*SECTION_SERVICES-----------------------------*/
    .services_nav {
        width: 41%;
    }
    .services_about {
        width: 58%;
    }
    .services_nav_cont>a {
        font-size: 19px;
    }
    /*BLOCK_CoMMENT--------------------------*/
    .comment_bl1 img, .comment_bl2 img, .comment_bl3 img {
        width: 200px;
        min-height: 183px;
    }
    /*BLOSK_NEWS------------------------------*/
    .body_bl_news {
        justify-content: space-around;
    }
}
@media only screen and (max-width: 980px) and (min-width: 768px) {
    nav a {
        padding: 20px 12px;
        font-size: 16px;
    }
    .logo a img {
        width: 75%;
    }
    /*SECTION_SERVICES-----------------------------*/
    .services_nav {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .services_nav_cont {
        padding: 15px 25px;
    }
    .services_nav_cont>a {
        min-width: 343px;
        margin: 5px;
        font-size: 20px;
        flex: 1 1 300px;
    }
    .services_about {
        width: 100%;
    }
    .services_nav_cont ul {
        position: absolute;
        z-index: 10;
        display: none;
        width: 80%;
        padding-right: 15px;
        background-color: #130902;
    }
    .services .container {
        display: flex;
        flex-direction: column;
    }
    .services_about_cont p, .services_about_cont ul, .services_about_cont a {
        margin-top: 20px;
        line-height: 27px;
    }
    .services_about_cont {
        margin-top: 10px;
    }
    /*SECTION_WHY_WE-----------------------------*/
    .why_we {
        height: 350px;
    }
    .top_scheme {
        margin: 40px 0 0 5%;
    }
    .scheme_why_we>i {
        top: -15px;
        right: 16px;
    }
    /*BLOCK_CoMMENT--------------------------*/
    .comment_bl1 img, .comment_bl2 img, .comment_bl3 img {
        width: 200px;
        min-height: 183px;
    }
    .comment_1::before, .comment_3::before, .comment_2::after {
        display: none;
    }
    .comment_1, .comment_3 {
        margin-left: 30px;
        align-self: flex-end;
    }
    .comment_2 {
        margin-right: 30px;
        align-self: flex-end;
    }
    /*BLOSK_NEWS------------------------------*/

    .body_bl_news .news {
        flex-basis: 370px;
        margin-top: 20px;
    }
    .news a div {
        width: 370px;
  }
        .body_bl_news {
            justify-content: space-around;
        }
        .news span{
          margin-left: 18%;
        }

}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    /*Disable Animation on Mobile Devices*/
    .top_body .container {
        justify-content: space-between;
    }
    .logo a img {
        width: 90%;
    }
    nav {
        position: absolute;
        right: 0;
        display: none;
        width: 250px;
        background: #130902;
    }
    #touch_menu {
        z-index: 100;
        display: inline-block;
    }
    .mob_menu {
        position: fixed;
        z-index: 100;
        right: 10px;
    }
    nav a {
        display: block;
        margin-top: 2px;
        text-align: center;
        color: #ececef;
    }
    nav a:hover, nav a:focus {
        color: #130902;
    }
    nav a span {
        top: 0;
        right: -35px;
        width: 0;
        height: 100%;
        background-color: #ececef;
    }
    nav a:hover span, nav a:focus span {
        right: 0;
        width: 100%;
        opacity: 1;
    }
    .head_locations {
        display: none;
    }
    .callback_block {
        display: none;
    }
    /*SECTION_SERVICES-----------------------------*/
    .services_nav {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .services_nav_cont {
        width: 100%;
        padding: 15px 25px;
    }
    .services_nav_cont>a {
        min-width: 100px;
        margin: 5px;
        font-size: 22px;
    }
    .services_about {
        width: 100%;
    }
    .services_nav_cont ul {
        position: absolute;
        z-index: 10;
        display: none;
        width: 80%;
        padding-right: 15px;
        background-color: #130902;
    }
    .services_nav_cont ul li a {
        padding: 20px 0 20px 12px;
    }
    .services .container {
        display: flex;
        flex-direction: column;
    }
    .services_about_cont p, .services_about_cont ul, .services_about_cont a {
        margin-top: 25px;
        line-height: 35px;
    }
    .services_about_cont {
        margin-top: 10px;
    }
    /*SECTION_WHY_WE-----------------------------*/
    .why_we {
        height: 350px;
    }
    .top_scheme h4 {
        left: -80%;
    }
    .top_scheme {
        margin: 40px 0 0 5%;
    }
    .scheme_why_we>i {
        display: none;
    }
    .scheme_why_we .top_scheme div {
        width: 100px;
    }
    /*section RESULTS_WORKS----------------*/
    .block_plus>div {
        width: 110px;
        height: 110px;
    }
    .block_plus>div div {
        font-size: 22px;
        line-height: 70px;
    }
    .block_plus>div p {
        left: 0%;
        width: 100px;
    }
    /*BLOCK_CoMMENT--------------------------*/
    .comment_1 p, .comment_2 p, .comment_3 p {
        margin: 15px 15px 15px 20px;
        font-size: 14px;
    }
    .comment_1::before, .comment_3::before, .comment_2::after {
        display: none;
    }
    .comment_1, .comment_3 {
        margin-left: 30px;
        align-self: flex-end;
    }
    .comment_2 {
        margin-right: 30px;
        align-self: flex-end;
    }
    .comment_bl1 img, .comment_bl2 img, .comment_bl3 img {
        width: 200px;
        min-height: 183px;
    }
    /*BLOSK_NEWS------------------------------*/
    .titile_bl_news h3{
      font-size: 25px;
      width: 300px;
    }

    .body_bl_news .news {
        flex-basis:auto;
        margin-top: 20px;
    }
    .news a div {
        width: 100%;
  }
        .body_bl_news {
            justify-content: space-around;
        }
        .news{
          border-bottom: 1px solid #ccc;
          padding-bottom: 10px;
        }
        .news span{
          float: right;
        }
         .news span::before{
           left:-70%;
         }
        .news h4{
          text-align: center;
        }
        .news p{
          min-width: 320px;
          text-align: center;
        }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 640px) {
    .top_ln_center {
        display: none;
    }
    /*SECTION_SERVICES-----------------------------*/
    /*SECTION_WHY_WE-----------------------------*/
    .top_scheme h4 {
        left: -60%;
        width: 130px;
        font-size: 16px;
    }
    .top_scheme h4 i {
        left: 35%;
    }
    /*section RESULTS_WORKS----------------*/
    .block_plus>div p span:first-child, .block_plus>div p span:last-child, .block_plus i, .top_block_res h3 span {
        display: none;
    }
    .top_block_res {
        padding-top: 20px;
    }
    .top_block_res h3 {
        margin: 10px auto 20px;
        font-size: 28px;
    }
    .top_block_res p {
        font-size: 22px;
    }
    .block_plus>div {
        width: 100px;
        height: 100px;
        margin: 20px 50px
    }
    .block_plus>div div {
        line-height: 62px;
    }
    .block_plus {
        max-width: 600px;
        margin: 20px 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .block_plus>div p {
        bottom: -30px;
        left: -20%;
        width: 150px;
        font-size: 15px;
    }
    /*section RESULTS_WORKS----------------*/
    /*BLOCK_CoMMENT--------------------------*/
    .comment_1, .comment_2, .comment_3 {
        border: none;
    }
    .comment_1, .comment_3 {
        margin-left: 5px;
        align-self: center;
    }
    .comment_2 {
        margin-right: 5px;
        align-self: center;
    }
  /*BLOSK_NEWS------------------------------*/
  .titile_bl_news{
    flex-direction: column;
  }
  .titile_bl_news{
    margin: auto;
  }
  .titile_bl_news h3:hover span {
      left: 0px;
      width: 225px;
  }
  .titile_bl_news h3 span {
      left: 0;
      width: 100px;
      height: 2px;
      background-color: #130a02;
  }
  .titile_bl_news a {
      margin: auto;
  }
}
@media only screen and (max-width: 480px) {
    /*SECTION_WHY_WE-----------------------------*/
    .top_scheme h4 {
        left: -250%;
        width: 80px;
        font-size: 14px;
    }
    .top_scheme h4 i {
        left: 30%;
    }
    .scheme_why_we .top_scheme div {
        width: 20px;
    }
    /*section RESULTS_WORKS----------------*/
    .block_plus {
        max-width: 100%;
        margin: 20px 0;
    }
    .block_plus>div {
        margin: 20px 20px
    }
    /*section RESULTS_WORKS----------------*/
    .comment_bl1, .comment_bl2, .comment_bl3 {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .comment_bl1 img, .comment_bl2 img, .comment_bl3 img {
        align-self: center;
    }
    .comment_1, .comment_2, .comment_3 {
        width: 100%;
        text-align: center;
    }
    /*BLOCK_CoMMENT--------------------------*/
    .title_bl_comment i {
        display: none;
    }
    .title_bl_comment h3 {
        text-align: center;
        font-size: 26px;
    }
    .title_bl_comment p {
        font-size: 20px;
    }

/*BLOSK_NEWS------------------------------*/
    .body_bl_news .news {
        flex-basis: 320px;
        margin-top: 20px;
    }
    .news a div {
        width: 320px;
  }
  .news h4{
    font-size: 24px;
  }
  .news p{
    font-size:17px;
  }
  .news span{
    margin-right: 10px;
  }

}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    /*SECTION_WHY_WE-----------------------------*/
    .top_scheme h4 {
        left: -200%;
        width: 85px;
        font-size: 14px;
    }
    .title_bl_comment h3 {
        width: 300px;
        text-align: center;
        font-size: 22px;
    }
    .title_bl_comment h3 span {
        left: 40%
    }
    .title_bl_comment h3 i {
        display: none;
    }
    .title_bl_comment h3:hover span {
        left: 5%;
        width: 280px;
    }
    .title_bl_comment p {
        font-size: 18px;
    }
}

/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 640px) {}
@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
