 .container {
     width: 95%;
     min-width: 320px;
     max-width: 1340px;
     margin: auto;
     /*border: 1px solid;*/
 }
 * {
     transition: .4s;
 }
 /*HEADER-------------------------*/

 header {
     padding-bottom: 40px;
 }
 .top_line {
     width: 100%;
     height: 50px;
     background-color: #130902;
 }
 .top_line .container {
     display: flex;
     line-height: 50px;
     justify-content: space-between;
 }
 .top_ln_left, .top_ln_right {
     width: 135px;
 }
 .top_ln_left a i, .top_ln_right a i {
     margin: 0 2px;
     padding: 4px 2px;
     color: #ebebee;
     border: 2px solid #ebebee;
     font-size: 20px;
 }
 .top_ln_left a i:hover, .top_ln_right a i:hover, .top_ln_left a:focus i, .top_ln_right a:focus i {
     color: #130902;
     background-color: #fff;
 }
 .top_ln_right a i:first-child {
     padding: 3px 3px 3px 1px;
 }
 .top_ln_center a {
     color: #ebebef;
     font: 400 18px/45px Exo2, sans-serif;
 }
 .top_body {
     background-color: #fff;
 }
 .top_body .container {
     display: flex;
     justify-content: space-between;
 }
 .logo {
     margin-top: 40px;
 }
 #touch_menu {
     display: none;
 }
 .nav_block {
     position: relative;
     display: flex;
     flex-direction: column;
 }
 nav {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
 }
 nav a {
     position: relative;
     z-index: 2;
     padding: 18px 40px;
     text-transform: uppercase;
     color: #130902;
     font: 900 18px/18px Exo2, sans-serif;
 }
 nav a:hover, nav a:focus {
     color: #ececef;
 }
 nav a span {
     position: absolute;
     z-index: -1;
     top: -25px;
     left: 0;
     width: 100%;
     height: 0%;
     opacity: 0;
     background-color: #130902;
 }
 nav a:hover span, nav a:focus span {
     top: 0;
     height: 100%;
     opacity: 1;
 }
 .toggle-mnu {
     display: block;
     width: 40px;
     height: 40px;
     margin-top: 14px;
 }
 .toggle-mnu span:after, .toggle-mnu span:before {
     position: absolute;
     top: 9px;
     left: 0;
     content: "";
 }
 .toggle-mnu span:after {
     top: 18px;
 }
 .toggle-mnu span {
     position: relative;
     display: block;
 }
 .toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
     width: 100%;
     height: 2px;
     transition: all 0.3s;
     border-radius: 2px;
     background-color: #130902;
     backface-visibility: hidden;
 }
 .toggle-mnu.on span {
     background-color: transparent;
 }
 .toggle-mnu.on span:before {
     transform: rotate(45deg) translate(-1px, 0px);
 }
 .toggle-mnu.on span:after {
     transform: rotate(-45deg) translate(6px, -7px);
 }
 .head_locations {
     position: relative;
 }
 .head_locations a {
     margin-left: 10px;
     color: #130902;
     border-bottom: 1px solid rgba(153, 151, 149, 0);
     font: 600 18px/18px Exo2, sans-serif
 }
 .head_locations a:hover {
     border-bottom: 1px solid rgba(153, 151, 149, 1);
 }
 .head_locations a i {
     position: absolute;
     top: -5px;
     left: -35px;
     font-size: 35px;
 }
 .callback_block {
     display: flex;
     margin-top: 20px;
     justify-content: flex-end;
 }
 .callback_block p {
     width: 100%;
     padding-top: 20px;
     padding-right: 35%;
     font: 700 18px/40px Exo2, sans-serif;
 }
 .callback_block button {
     padding: 10px 55px;
     text-transform: uppercase;
     color: #fff;
     border: 2px solid #ff7d13;
     background-color: #130902;
     font: 600 18px/18px Exo2, sans-serif;
     align-self: flex-end;
 }
 .callback_block button:hover {
     cursor: pointer;
     color: #130902;
     background-color: #fff;
 }
 /*SECTION_SERVICES-----------------------------*/

 .services {
     width: 100%;
     height: 100%;
     background: fixed #fff url("../img/fon1.jpg") center 260px no-repeat;
 }
 .services .container {
     display: flex;
     padding: 40px 0;
     justify-content: space-between;
 }
 .services_nav {
     width: 33%;
 }
 .services_nav_cont {
     margin-bottom: 10px;
     padding: 20px 40px;
     background-color: rgba(0, 0, 0, 0.8);
 }
 .services_nav_cont>a {
     position: relative;
     display: inline-block;
     width: 100%;
     min-width: 343px;
     margin-bottom: 17px;
     color: #ececef;
     font: bold 24px/24px Exo2, sans-serif;
 }
 .services_nav_cont ul li a {
     display: inline-block;
     width: 100%;
     padding: 12px 0 10px 12px;
     padding-right: -10px;
     color: #ececef;
     border: 1px solid rgba(0, 0, 0, 0);
     font: 400 18px/15px Exo2, sans-serif;
 }
 .services_nav_cont ul li a:hover {
     border: 1px solid rgba(255, 255, 255, 1);
 }
 .services_nav_cont ul li a:focus {
     border: 1px solid rgba(255, 255, 255, 1);
     background-color: #2b2a20;
 }
 .services_nav_cont>a span {
     position: absolute;
     top: 10px;
     width: 0;
     height: 0;
     margin-left: 10px;
     border-top: 12px solid #ececef;
     border-right: 6px solid transparent;
     border-left: 6px solid transparent;
 }
 .services_nav_cont:nth-child(1) a span {
     top: 5px;
 }
 .gort span {
     transform: rotate(-90deg);
 }
 .services_about {
     width: 66%;
     color: #ececef;
 }
 .services_about_cont {
     padding: 20px 40px;
     background-color: rgba(0, 0, 0, 0.8);
 }
 .services_about_cont span {
     display: block;
     height: 20px;
     margin-top: 40px;
     border-top: 1px solid;
 }
 .services_about_cont h2 {
     font: 400 30px/30px Exo2, sans-serif;
 }
 .services_about_cont p, .services_about_cont ul, .services_about_cont a {
     margin-top: 40px;
     font: 400 18px/36px Exo2, sans-serif;
 }
 .services_about_cont h4 {
     margin-top: 20px;
     font: 400 20px/20px Exo2, sans-serif;
 }
 .services_about_cont ul {
     padding-left: 7%;
 }
 .services_about_cont a {
     display: inline-block;
     margin-top: 20px;
     text-decoration: underline;
     color: #ff7d12;
 }
 .services_about_cont a:hover {
     text-decoration: none;
 }
 .services_about_cont .icon-checkmark {
     margin-right: 10px;
 }
 /*SECTION why_we---------------------*/

 .why_we {
     height: 300px;
     background-color: #fff;
 }
 .why_we .container {
     display: flex;
     justify-content: space-between;
 }
 .why_we h3 {
     position: relative;
     min-width: 240px;
     margin-top: -5px;
     padding-right: 40px;
     cursor: pointer;
     text-align: center;
     font: 400 30px/0px Exo2, sans-serif;
 }
 .why_we h3 span {
     position: absolute;
     top: 32px;
     width: 30px;
     height: 3px;
     border-bottom: 2px solid #130a02;
 }
 .why_we h3:hover span {
     width: 180px;
 }
 .scheme_why_we {
     position: relative;
     width: 100%;
     height: 100%;
 }
 .scheme_why_we .top_scheme {
     position: relative;
     width: 90%;
     height: 3px;
     border-bottom: 2px solid #130902;
 }
 .scheme_why_we .top_scheme::before {
     position: absolute;
     top: -16px;
     left: -30px;
     width: 40px;
     height: 40px;
     content: url(../img/tr.svg);
 }
 .scheme_why_we .top_scheme::after {
     position: absolute;
     top: -16px;
     right: -30px;
     width: 40px;
     height: 40px;
     content: url(../img/tr.svg);
 }
 .scheme_why_we .top_scheme span {
     position: absolute;
     top: 2px;
     width: 25px;
     height: 25px;
     transform: rotate(90deg);
     border-bottom: 2px solid #130902;
 }
 .scheme_why_we .top_scheme div {
     position: absolute;
     width: 170px;
 }
 .scheme_why_we .top_scheme div:first-child {
     left: 20%;
 }
 .scheme_why_we .top_scheme div:nth-child(2) {
     left: 50%;
 }
 .scheme_why_we .top_scheme div:last-child {
     left: 80%;
 }
 .scheme_why_we>i {
     position: absolute;
     top: -15px;
     right: 5px;
     font-size: 30px;
 }
 .scheme_why_we .top_scheme span::after {
     position: absolute;
     top: 7px;
     left: 15px;
     width: 40px;
     height: 40px;
     content: url(../img/tr.svg);
 }
 .top_scheme h4 {
     position: absolute;
     top: 80px;
     left: -50%;
     width: 170px;
     text-align: center;
     font: 600 21px/30px Exo2, sans-serif;
 }
 .top_scheme h4 i {
     position: absolute;
     bottom: -50px;
     left: 40%;
     font-size: 28px;
 }
 /*section RESULTS_WORKS----------------*/

 .results_works {
     width: 100%;
     height: 450px;
     background: fixed #fff url("../img/fon2.jpg") center 40px no-repeat;
 }
 .results_works .layer_results {
     height: 100%;
     background-color: rgba(7, 24, 34, 0.8);
 }
 .results_works .container {
     display: flex;
     flex-direction: column;
     padding: 0;
     justify-content: flex-start;
 }
 .top_block_res {
     width: 100%;
     padding-top: 40px;
     text-align: center;
     color: #fff;
 }
 .top_block_res h3 {
     position: relative;
     width: 240px;
     margin: 0 auto 45px;
     cursor: pointer;
     text-align: center;
     font: 400 30px/0px Exo2, sans-serif;
 }
 .top_block_res h3 span {
     position: absolute;
     top: 40px;
     left: 40%;
     width: 90px;
     height: 2px;
     border-bottom: solid 1px #adb1b3;
 }
 .top_block_res h3:hover span {
     left: 5%;
     width: 250px;
 }
 .top_block_res h3 i {
     position: absolute;
     top: -15px;
     right: -18%;
     padding: 9px 4px 7px;
     border: 2px solid #fff;
     border-radius: 50%;
     font-size: 20px;
 }
 .top_block_res p {
     font: 400 24px/24px Exo2, sans-serif;
 }
 .block_plus {
     display: flex;
     margin-top: 50px;
     color: #fff;
     justify-content: space-between;
 }
 .block_plus i {
     font-size: 34px;
     align-self: center;
 }
 .block_plus>div {
     position: relative;
     display: flex;
     width: 138px;
     height: 138px;
     border: solid 2px #fff;
 }
 .block_plus>div div {
     width: 63%;
     height: 63%;
     margin: auto;
     text-align: center;
     border: solid 2px #fff;
     background-color: rgba(0, 0, 0, .65);
     font: 400 30px/83px Exo2, sans-serif;
 }
 .block_plus>div p {
     position: absolute;
     bottom: -50px;
     left: -15%;
     width: 180px;
     text-align: center;
     font: 400 18px/18px Exo2, sans-serif;
 }
 .block_plus>div p span:first-child {
     position: absolute;
     top: 8px;
     width: 25px;
     height: 2px;
     margin-left: -38px;
     background-color: #fff;
 }
 .block_plus>div p span:last-child {
     position: absolute;
     top: 5px;
     width: 0;
     height: 0;
     margin-left: 10px;
     border-top: 6px solid transparent;
     border-bottom: 6px solid transparent;
     border-left: 12px solid #fff;
 }
 /*BLOCK_CoMMENT--------------------------*/

 .block_comment {
     height: 100%;
     background-color: #fff;
 }
 .block_comment .container {
     display: flex;
     flex-direction: column;
 }
 .title_bl_comment {
     margin: 20px 0 50px;
 }
 .title_bl_comment h3 {
     position: relative;
     width: 350px;
     margin: 0 auto 45px;
     cursor: pointer;
     font: 400 30px/0px Exo2, sans-serif;
 }
 .title_bl_comment span {
     position: absolute;
     top: 40px;
     left: 42%;
     width: 90px;
     height: 2px;
     border-bottom: solid 1px #000;
 }
 .title_bl_comment h3:hover span {
     left: 5%;
     width: 360px;
 }
 .title_bl_comment i {
     position: absolute;
     top: -22px;
     margin-left: 15px;
     padding: 4px 0 12px 10px;
     border: 2px solid #000;
     border-radius: 50%;
     font-size: 20px;
 }
 .title_bl_comment p {
     text-align: center;
     font: 400 24px/24px Exo2, sans-serif;
 }
 .comment_bl1 img, .comment_bl2 img, .comment_bl3 img {
     width: 268px;
     min-width: 200px;
     min-height: 183px;
 }
 .comment_bl1, .comment_bl2, .comment_bl3 {
     display: flex;
     margin-bottom: 40px;
     justify-content: space-between;
 }
 .comment_1, .comment_2, .comment_3 {
     position: relative;
     width: 700px;
     height: 190px;
     border: 2px solid #38302e;
     align-self: center;
 }
 .comment_1::before, .comment_3::before {
     position: absolute;
     top: 60px;
     left: -205px;
     content: url("../img/com_cog.png");
 }
 .comment_1, .comment_3 {
     margin-left: 205px;
 }
 .comment_2 {
     margin-right: 205px;
 }
 .comment_2::after {
     position: absolute;
     top: 60px;
     right: -204px;
     content: url("../img/com_cog_mirror.png");
 }
 .comment_1 span, .comment_2 span, .comment_3 span {
     position: absolute;
     top: 30px;
     width: 26px;
     height: 2px;
     background-color: #130902;
 }
 .comment_1 h4, .comment_2 h4, .comment_3 h4 {
     position: relative;
     margin: 20px 40px;
     font: 600 20px/20px Exo2, sans-serif;
 }
 .comment_1 p, .comment_2 p, .comment_3 p {
     margin: 25px 20px 20px 40px;
     font: 400 17px/22px Exo2, sans-serif;
 }
 .comment_bl2 {
     flex-direction: row-reverse;
 }
